/*
font-family: 'Dancing Script', cursive;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-sarif;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .main {
    max-width: 65ch;
  }
}

body {
  --text-color: black;
  --background-color: snow;
  --header-start-color: white;
  --nav-focus-text-color: white;
  --header-stop-color: grey;
  --hover-nav-bg-color: yellow;
  --hover-nav-text-color: blue;
  --nav-focus-bg-color: red;
  --hire-me-bg-color: blueviolet;
  --footer-end-gradient-color: blueviolet;
}

@media screen and (min-width: 992px) {
  html {
    font-size: 22px;
  }
  .main {
    max-width: 60ch;
  }
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
body {
  margin: 0;
}
.content {
  font-family: "Lora", cursive;
  text-align: justify;
}

**:selection {
  background-color: var(--background-color);
}
/* some effects */
.header {
  padding: 3rem 0rem;
  margin-top: 0rem;
  text-align: center;
  background-image: linear-gradient(
    125deg,
    var(--header-start-color),
    var(--header-stop-color)
  );
}

a,
a:hover,
a:active,
a:focus {
  color: var(--text-color);
}
.head-job::after {
  content: "👨‍🎓";
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* hover and coloring*/
.navigation:hover {
  color: var(--hover-nav-text-color);
  background-color: var(--hover-nav-bg-color);
  padding: 0.2rem;
  border-radius: 0.2rem;
}
/* Dynamische Faerbung beim click*/
.navigation:focus {
  background-color: var(--nav-focus-bg-color);
  color: var(--nav-focus-text-color);
  transition: 4s;
  font-weight: bold;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-style: dotted;
}

/* Entfernung zw Nav Elementen*/
.navigation + .navigation {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}
.head-name {
  font-size: 4em;
}

.head-job {
  font-size: 1em;
}

.hire-me {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-radius: 0.25rem;
  background-color: var(--hire-me-bg-color);
  padding: 0.5rem;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .hire-me {
    top: 2.5rem;
    right: 2.5rem;
    padding: 0.75rem;
    background-color: cadetblue;
    transition: 2s linear;
  }
  .header:hover .hire-me,
  .header:focus-within .hire-me {
    transform: scale(-1.5);

    opacity: 0.5;
    background-color: blue;
    color: yellow;
  }
}

.experience-heading {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .experience-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: baseline;
  }
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1 rem;
  background-color: var(--background-color);
}

.footer {
  color: rgb(24, 4, 4);
  background-image: linear-gradient(
    var(--background-color),
    var(--footer-end-gradient-color)
  );
  padding: 20px;
  text-align: center;
}

@media print {
  aside {
    display: none;
  }
  nav {
    display: none;
  }
}
